package {{servicePackage}};

import {{modelPackage}}.{{classname}};

/**
 * Created by famecrave on {{generatedDate}}.
 */
public interface {{classname}}Service extends BaseService<{{classname}}> {
}
