package {{servicePackage}}.impl;

import {{modelPackage}}.{{classname}};
import {{servicePackage}}.{{classname}}Service;

import org.springframework.stereotype.Service;

/**
 * Created by famecrave on {{generatedDate}}.
 */
@Service
public class {{classname}}ServiceImpl implements {{classname}}Service {
}
